[DEFAULT]
rampup = 0
runners = 3
max_iterations = 1
test_name = group_chat
output_dir = /tmp

# serialize group execution
serialize = True

# use threads when calling group target
use_threads = True

port = 8081
server = greg.local
use_procs = True
min_delay = 15
max_delay = 45
min_users = 10
max_users = 10
entries = 20

[chat]
target = nti.integrationtests.performance.eval.group_chat.chat
target_args = ()