[DEFAULT]
rampup = 0
runners = 1
max_iterations = 1
test_name = group_chat
output_dir = /tmp

# serialize group execution
serialize = True

# use threads when calling group target
use_threads = True

port = 443
is_secure = True
server = rwanda.nextthought.com
use_procs = True
min_delay = 15
max_delay = 45
min_users = 10
max_users = 10
entries = 20
min_words = 10
max_words = 40 

[chat]
target = nti.integrationtests.performance.eval.group_chat.chat
target_args = ()