[DEFAULT]
rampup = 0
runners = 4
run_time = 30
test_name = gennotes
output_dir = /tmp
# database_file = ugd.fs
# db_batch = True

# serialize group execution
serialize = True

# use threads when calling group target
use_threads = False

port = 8081
is_secure = False
server = localhost

[generate-500]
max_iterations = 500
target = nti.integrationtests.performance.eval.generate_notes.create_note
target_args = ("tag:nextthought.com,2011-10:AOPS-HTML-prealgebra.why_start_with_arithmetic_",)
